examples/spiker.json
[
    {
        "id": "d7cbbbbf528a574e",
        "type": "tab",
        "label": "spiker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2af9fb7881ba5da",
        "type": "modbus-read",
        "z": "d7cbbbbf528a574e",
        "name": "SDM 120 Voltage",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "2",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b69d19ed.84d768",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "f074b3a61d32c4d0"
            ],
            []
        ]
    },
    {
        "id": "f074b3a61d32c4d0",
        "type": "energy-meter",
        "z": "d7cbbbbf528a574e",
        "name": "",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "5b5cbe0719cf69b0"
            ]
        ]
    },
    {
        "id": "5b5cbe0719cf69b0",
        "type": "spiker",
        "z": "d7cbbbbf528a574e",
        "name": "Spike Counter",
        "machineName": "Machine1",
        "parameter": "Voltage",
        "windowSize": 5,
        "scalingFactor": 3,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "9ab6c95b4365b872",
                "35b84f7aba07a9ad"
            ]
        ]
    },
    {
        "id": "9ab6c95b4365b872",
        "type": "debug",
        "z": "d7cbbbbf528a574e",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "35b84f7aba07a9ad",
        "type": "function",
        "z": "d7cbbbbf528a574e",
        "name": "Spikes count",
        "func": "var a = msg.payload.spikes;\nmsg.payload = a;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 260,
        "wires": [
            [
                "bfcd1624e1fe77a3"
            ]
        ]
    },
    {
        "id": "bfcd1624e1fe77a3",
        "type": "debug",
        "z": "d7cbbbbf528a574e",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "813fa6ba2a3706d8",
        "type": "comment",
        "z": "d7cbbbbf528a574e",
        "name": "Detect spikes",
        "info": "Detect Spikes and log them ",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "b69d19ed.84d768",
        "type": "modbus-client",
        "name": "Energy Meter",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "10.10.100.254",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "1",
        "commandDelay": "30",
        "clientTimeout": "2000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "5000",
        "parallelUnitIdsAllowed": false
    }
]